{% extends "base.html" %}
{% load static %}
{% block content %}

{% for plan in plans %}
<div id="show_{{plan.num}}">
	<div class="row my-2" id="row_id_{{plan.id}}">
		<div class="col-12">
      <form action="/read-plan/" method="POST" class="needs-validation"
            {{page.form_validate}}>
            {% csrf_token %}
        <fieldset class="border p-1 rounded shadow-sm " style="background-color: #e3f2fd;">
          <legend class="w-auto p-1 text-muted small">
            <input type="hidden" id="hidden_id_{{plan.id}}" name="id_plan" value="{{plan.id}}" />
						<input type="hidden" id="link_act_{{plan.id}}" name="link_act" value="{{page.link_act}}" />
            <button type="button" style="width:34px;"
                    id="btn_show_{{plan.id}}"
                    class="btn-xs btn-info mr-2 rounded shadow-sm" aria-disabled="false"
                    data-toggle="collapse" data-target="#row_text_{{plan.id}}"
                    aria-expanded="false" aria-controls="row_text_{{plan.id}}"
                    data-placement="top" title="Show or hide the planning">
                    <i class="fas fa-eye"></i>
            </button>
            <button class="btn-xs btn-success mr-2 rounded shadow-sm"
                    id="btn_edit_{{plan.id}}"
                    data-placement="top" title="Edit planning" style="width:34px;"
                    name="edit_plan" value="edit_plan" aria-disabled="false"
                    onclick="edit_yn_all_plan('{{plan.id}}'); return false;">
                    <i class="fas fa-edit" aria-hidden="true"></i>
            </button>
            <button class="btn-xs btn-primary mr-2 rounded shadow-sm disabled"
                    id="btn_save_{{plan.id}}"
                    aria-disabled="true" aria-hidden="true" style="width:34px;"
                    data-placement="top" title="Update plan"
                    name="update_plan" value="update_plan"
                    disabled>
                    <i class="fa fa-file"></i>
            </button>
            <button class="btn-xs btn-warning btn-info mr-2 rounded shadow-sm"
                    id="btn_hide_{{plan.id}}"
                    style="width:34px;"
                    onclick="delete_template('row_id_{{plan.id}}'); return false;"
                    data-placement="top" title="Remove planning from screen">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
            </button>
            <button class="btn-xs btn-danger mr-4 rounded shadow-sm disabled"
                    id="btn_delete_{{plan.id}}"
                    aria-disabled="true" aria-hidden="true" style="width:34px;"
                    data-placement="top" title="Delete plan id={{plan.id}}"
                    name="delete_plan" value="delete_plan"
                    disabled>
                    <i class="fa fa-trash"></i>
            </button>
            {{plan.date}}: <strong>{{plan.title}}</strong>
          </legend>

          <div class="form-group row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"> date </div>
                </div>
                <input id="date_{{plan.id}}"
                       name="date" class="form-control disabled"
                       type="date" value="{{plan.date}}"
                       aria-disabled="true" disabled>
            </div>

            <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-xs-12 input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"> van </div>
              </div>
              <input id="time_start_{{plan.id}}"
                     name="time_start" class="form-control disabled"
                     type="time" value="{{plan.time_start}}"
                     aria-disabled="true" disabled>
            </div>

            <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-xs-12 input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"> tot </div>
              </div>
              <input id="time_end_{{plan.id}}"
                     name="time_end" class="form-control disabled"
                     type="time" value="{{plan.time_end}}"
                     aria-disabled="true" disabled>
            </div>
            <div class="col-xl-4 col-lg-8 col-md-12 col-sm-12 col-xs-12 input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    titel
                  </div>
                </div>
                <input id="title_{{plan.id}}" type="text"
                       name="title" class="form-control disabled"
                       placeholder="Titel" value="{{plan.title}}"
                       aria-disabled="true" disabled>
            </div>
          </div>

          <div id="row_text_{{plan.id}}" class="collapse">

            <div class="form-group row">
              <label for="inputEmail" class="col-2 col-form-label text-right text-nowrap"> Plan </label>
              <div class="form-group col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <textarea class="form-control disabled" placeholder="Planning tekst hier..."
                          name="text" rows="16" aria-disabled="true"
                          id="text_{{plan.id}}"
                          disabled>{{plan.text}}</textarea>
              </div>
            </div>

          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endfor %}

<div class="row mt-4">
	<div class="col-12">
		<script>
				// Globals needed for pagination
				let MAX_ROW_PER_PAGE = {{ page.max_per_page }}, /* See init.py */
						ALL_ROW_COUNT    = {{ page.rows_count }},
						LINKS_ON_PAGE    = Math.ceil( ALL_ROW_COUNT / MAX_ROW_PER_PAGE ),
						LINK_ACT         = {{ page.link_act }};
				pagination();
		</script>
	</div>
</div>

  </ul>
</nav>

{% endblock content %}
